<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/navigation.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: lightblue;
      padding: 0px;
      max-width: 100%;
      position: relative;
    }
    
    h1 {
      margin-top: 70px;
      text-align: center;
      color: #333333;
    }
    
    .container {
      max-width: 80%;
      margin: 10px auto;
    }
    
    .member {
      display: flex;
      background-color: #ffffff;
      border-radius: 1px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .member-image {
      flex: 0 0 200px;
      margin-right: 20px;
    }
    
    .member-image img {
      max-width: 100%;
      border-radius: 5px;
    }
    
    .member-content {
      flex: 1;
    }
    
    .member h2 {
      color: solid black;
    }
    
    .member p {
      color: black;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/info">Info</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>

  <h1>MEET OUR TEAM!</h1>
  
  <div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/om-patel.png" alt="Om Patel">
      </div>
      <div class="member-content">
        <h2>Om Patel</h2>
        <p>Team Lead, Developer, BITS PILANI</p>
        <p>Hello, I'm Om Patel. I'm currently pursuing my B.E. Computer Science and Msc. Maths degree from BITS Pilani Goa campus. I'm a cybersecurity enthusiast exploring the field of web security penetration testing and development. I have completed my "Certified Ethical Hacker (C|EH v12)" course accredited by Ec-Council university and obtained the certification. I'm also enthusiastic about the digital forensics and investigation field, where I completed my certification in "Certified Digital Forensics and Penetration Tester". Currently, I am focusing on web application development and learning ways to secure them.</p>
      </div>
    </div>
</div>

<div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/rohan-pothireddy.png" alt="Rohan Pothireddy">
      </div>
      <div class="member-content">
        <h2>Rohan Pothireddy</h2>
        <p>Full Stack Web Developer, BITS PILANI</p>
        <p>Hey! I am Rohan Pothireddy, currently a CS undergrad at BITS Pilani. I have been captivated by the world of programming and its endless possibilities. I am constantly seeking opportunities to learn and grow, immersing myself in new technologies and techniques. I am fueled by the desire to make a meaningful impact in the field of software development. </p>
      </div>
    </div>
</div>

<div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/varun-sajja.png" alt="Varun Sai Sajja">
      </div>
      <div class="member-content">
        <h2>Varun Sai Sajja</h2>
        <p>Full Stack Web Developer, BITS PILANI</p>
        <p>Hey, I'm Varun Sai Sajja, currently pursuing MSc Economics and B.E Computer Science at BITS Pilani Campus. I have always had a knack for cyber security and actually learnt a bit after my 12th but then in college I got into WebDev projects for the college Coding Club and eventually got immersed in it a lot. This project had made me revisit my passion in cyber security and learn more in this interesting domain. I have contributed majorly in the Back End part of the project and have Worked in the tool researching phase.</p>
      </div>
    </div>
</div>

<div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/raunak-nigam.png" alt="Raunak Nigam">
      </div>
      <div class="member-content">
        <h2>Raunak Nigam</h2>
        <p>Frontend Web Developer, BITS PILANI</p>
        <p>Hi, everyone, I am Raunak Nigam, currently pursuing my Bachelor of Engineering from BITS PILANI. I have always been very interested in Development, Coding, and solving new Challenges. The cybersecurity field really excites me. I was really excited about the project and this made me learn many new things. I have majorly taken care of the frontend part of the website. Hope you like the work.</p>
      </div>
    </div>
</div>


<div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/manoj-gutta.png" alt="Manoj Gutta">
      </div>
      <div class="member-content">
        <h2>Manoj Gutta</h2>
        <p>Backend Web Developer, BITS PILANI</p>
        <p>I'm Manoj, and I have worked as an Intern at Hacker4Help. I have been fortunate enough to work on two crucial aspects of this project: searching for top-notch OSINT tools through meticulous research and collaboration, and contributing to the backend development of the website. I believe that access to quality OSINT tools should be convenient and user-friendly, and this website is designed with that ethos in mind. </p>
      </div>
    </div>
</div>


<div class="container">
    <div class="member">
      <div class="member-image">
        <img src="/images/nithin.png" alt="Naga Siva Nithin Kota">
      </div>
      <div class="member-content">
        <h2>Naga Siva Nithin Kota</h2>
        <p>Backend Web Developer, BITS PILANI</p>
        <p>Hi, everyone, I am Naga Siva Nithin Kota currently pursuing my Bachelor of Engineering from BITS PILANI. I have always been very interested in things like Web Development, Coding, cyber security. I was really excited about the project and wanted to learn new things here . I have majorly taken care of the Backend part of the website (API stuff). Hope you like the work.</p>
      </div>
    </div>
</div>

<div class="container">
  <div class="member">
    <div class="member-image">
      <img src="/images/parth-shitole.png" alt="Parth Shitole">
    </div>
    <div class="member-content">
      <h2>Part Shitole</h2>
      <p>Team Lead, Developer, BITS PILANI</p>
      <p>Hello, I'm Om Patel. I'm currently pursuing my B.E. Computer Science and Msc. Maths degree from BITS Pilani Goa campus. I'm a cybersecurity enthusiast exploring the field of web security penetration testing and development. I have completed my "Certified Ethical Hacker (C|EH v12)" course accredited by Ec-Council university and obtained the certification. I'm also enthusiastic about the digital forensics and investigation field, where I completed my certification in "Certified Digital Forensics and Penetration Tester". Currently, I am focusing on web application development and learning ways to secure them.</p>
    </div>
  </div>
</div>
<div class="flag-container"></div>
<h2>NOTE:</h2>
<p>*OSINT provides a way to collect and analyze publicly available data, which can then be used to make informed
  decisions or satisfy your curiosity. Below we look at 10 of the leading open-source OSINT sites, services, and code
  - including search engines and data visualization tools - that are available to us all OSINT, short for open-source
  intelligence, is a process designed to gather information from public sources. For example, these sources may be
  government databases, websites, or brochures. To achieve this, investigators use several manual as well as automatic
  tools.OSINT, short for open-source intelligence, is a process designed to gather information from public sources.
  These sources may be government databases, websites, or brochures.*</p>
</div>
  <div class="footer">
    With love, from Hacker4Help!
  </div>
</body>
</html>