<!DOCTYPE html>
<html>

<head>
    <title>OSINT Tool - Email Lookup</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>

<body>

    <div class="navbar">
        <a href="/"><img src="/images/New-Logo.png" alt="logo" /> </a>
        <div class="home"><ul> <li><a  href="/">   Home </a></li></ul></div>
        <ul>
            <li><a href="/about-us">About Us </a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </div>

    <div class="flag-container">
        <img src="/images/india-flag.png" alt="Center Image" />
    </div>

    <div class="container">
        <h1>EMAIL LOOKUP</h1>
        <form action="/email" method="get">
            <div class="input-group">
                <label for="target">Target:</label>
                <input name="target" type="text" id="target" placeholder="Enter domain of email for Harvester search">
            </div>
            <div class="input-group">
                <label for="tool">Which lookup tool do you want to use</label>
                <select name="tool" id="tool">
                  <option value="select" selected>Select Tool</option>
                  <option value="Harvester">Harvester</option>
                  <option value="mosint">Mosint</option>
                  <option value="rocketreach">RocketReach</option>
                  <option value="epieos">Epieos</option>
                  <option value="emailrep">Simple Email Reputation</option>
                  <option value="haveibeenpwned">Have I Been Pwned</option>
                </select>
            </div>
            <div class="input-group" id="search-btn">
                <button type="submit" onclick="search()">Search</button>
            </div>
        </form>
        <div class="input-group" id="redirect" style="display: none;">
          <button type="button"><a href="#" style="text-decoration:none; color:black;">Redirect to Tool</a></button>
        </div>
        <div class="hint-text">
            <p id="hint"><strong>Hint :</strong> Select the tool you want to use</p>
        </div>
        <div id="results">
            <h2>Results:</h2>
            <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
            <pre id="output">
                <% if (result) { %>
                    <%= result['output'] %>
                <% } %>
            </pre>
        </div>
    </div>
    <div class="footer">
        OSINT framework focused on gathering information from free tools or resources. The intention is to help people find free OSINT resources. Some of the sites included might require registration or offer more data for $$$, but you should be able to get at least a portion of the available information for no cost.
    We created this framework with an information security point of view. Since then, the response from other fields and disciplines has been incredible. I would love to be able to include any other OSINT resources, especially from fields outside of infosec. Please let me know about anything that might be missing!
    
    For Update Notifications, Suggestions, Comments, Feedback
    
    Feedback or new tool suggestions are extremely welcome! Please feel free to reach out on info@hacker4help.com
      </div>
      <div class = "footera">
        With ❤️, from Hacker4Help!
      </div>
    <script src="js/script.js"></script>
    <script>
        // Function to update the hint text based on the selected tool
        document.getElementById("tool").addEventListener("change", function () {
          var hint = document.getElementById("hint");
          var selectedTool = this.value;
          var search_bttn = document.getElementById("search-btn")
          var search_a = document.getElementById("redirect")
  
          if (selectedTool === "select") {
            hint.innerHTML =
              "<strong>Hint :</strong> Select the tool you want to use";
            search_a.style.display = "none"
            search_bttn.style.display = "block"
          } else if (selectedTool === "Harvester") {
            hint.innerHTML =
              "<strong>Hint :</strong>  It searches all the different APIs included in the tool like Hunter, Github, Brave, Google, Bing and many more for the specific email domain that we enter. Please make sure to wait for some time for the results to be displayed. ";
            search_a.style.display = "none"
            search_bttn.style.display = "block"
          } else if (selectedTool === "mosint") {
            hint.innerHTML =
              "<strong>Hint :</strong> This tool gives us the IP address, NS, MX, TXT record of the given target email address. It uses various APIs like Hunter, Emailrep, IntelX, psmdb and breach directory.  ";
            search_a.style.display = "none"
            search_bttn.style.display = "block"
          } else if (selectedTool === "rocketreach") {
            hint.innerHTML = 
              "<strong>Hint :</strong> Allows individuals and businesses to search for email addresses,  provides users with access to an extensive database of professional contact information."
            search_a.style.display = "block"
            search_a.firstElementChild.firstElementChild.href = "https://rocketreach.co/"
            search_bttn.style.display = "none"
          } else if (selectedTool === "epieos") {
            hint.innerHTML = 
              "<strong>Hint :</strong> The Site’s unique results when compared to other websites here include links like Google maps, Google Calendar, Google Plus Archive for the given email. For example, a google maps link might give out things like reviews posted by the user and more, which will help you in your search about the target(Ex: Their city of residence). You might also find something in the Google Plus archives if the target ever used the Google Plus service."
            search_a.style.display = "block"
            search_a.firstElementChild.firstElementChild.href = "https://epieos.com/?t=email"
            search_bttn.style.display = "none"
          } else if (selectedTool === "emailrep") {
            hint.innerHTML =
              "<strong>Hint :</strong> Gets the reputation of an email address for various factors such as spam reports, blacklists, and email deliverability data. The results you can expect are about profiles on well known sites, seen in data breaches or credential leaks, malicious or suspicious activity from this address."
            search_a.style.display = "block"
            search_a.firstElementChild.firstElementChild.href = "https://emailrep.io/"
            search_bttn.style.display = "none"
          } else if (selectedTool === "haveibeenpwned") {
            hint.innerHTML = 
              "<strong>Hint :</strong>Allows you to search across multiple data breaches to see if your email address or phone number has been compromised."
            search_a.style.display = "block"
            search_a.firstElementChild.firstElementChild.href = "https://haveibeenpwned.com/"
            search_bttn.style.display = "none"
          }else {
            hint.innerHTML = ""; // Clear the hint if no tool is selected
          }
        });
      </script>
</body>

</html>