<!DOCTYPE html>
<html>

<head>
    <title>OSINT Tool - Email Lookup</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>

<body>

    <div class="navbar">
        <ul>
            <li><a href="/about-us">About Us </a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>

    <div class="flag-container">
        <img src="/images/india-flag.png" alt="Center Image" />
    </div>

    <div class="container">
        <h1>EMAIL LOOKUP</h1>
        <form action="/email" method="get">
            <div class="input-group">
                <label for="target">Target:</label>
                <input name="target" type="text" id="target" placeholder="Enter domain of email for Harvester search">
            </div>
            <div class="input-group">
                <label for="tool">Which lookup tool do you want to use</label>
                <select name="tool" id="tool">
                  <option value="Harvester">Harvester</option>
                  <option value="mosint">Mosint</option>
                </select>
            </div>
            <div class="input-group">
                <button type="submit" onclick="search()">Search</button>
            </div>
        </form>
        <div id="results">
            <h2>Results:</h2>
            <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
            <pre id="output">
                <% if (result) { %>
                    <%= result['output'] %>
                <% } %>
            </pre>
        </div>
    </div>
    <div class="footer">
        OSINT framework focused on gathering information from free tools or resources. The intention is to help people find free OSINT resources. Some of the sites included might require registration or offer more data for $$$, but you should be able to get at least a portion of the available information for no cost.
    We created this framework with an information security point of view. Since then, the response from other fields and disciplines has been incredible. I would love to be able to include any other OSINT resources, especially from fields outside of infosec. Please let me know about anything that might be missing!
    
    For Update Notifications, Suggestions, Comments, Feedback
    
    Feedback or new tool suggestions are extremely welcome! Please feel free to reach out on info@hacker4help.com
      </div>
      <div class = "footera">
        With ❤️, from Hacker4Help!
      </div>
    <script src="js/script.js"></script>
</body>

</html>