<!DOCTYPE html>
<html>
<head>
  <title>Info</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/navigation.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: lightblue;
      padding: 0px;
      max-width: 100%;
      position: relative;
    }
    
    h1 {
      margin-top: 70px;
      text-align: center;
      color: #333333;
    }
    
    .container {
      max-width: 80%;
      margin: 10px auto;
    }
    
    .member {
      display: flex;
      background-color: #ffffff;
      border-radius: 1px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .member-image {
      flex: 0 0 200px;
      margin-right: 20px;
    }
    
    .member-image img {
      max-width: 100%;
      border-radius: 5px;
    }
    
    .member-content {
      flex: 1;
    }
    
    .member h2 {
      color: solid black;
    }
    
    .member p {
      color: black;
      font-size: 20px;
    }
  </style>
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/info">Info</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>

  <h1>INFO - OTHER USEFUL RESOURCE LINKS</h1>
  
  <div class="container">
    <div class="member">
      <div class="member-content">
        <h2>USERNAME LOOKUP</h2>
        <p>Hey! Didn’t find what you are here for? 
          Try these:
          </p>
          <p><a href="https://webmii.com">Webmii</a> - Gives out information about a person available on the internet according to the name entered.</p>
          <p><a href="https://tweeterid.com">TweeterID</a> - This website is useful in getting Twitter ID from @handle, which is a unique value that every account on Twitter has. No two people have the same ID. Although an account can change its @handle, it can never change its Twitter ID.</p>  
          <p><a href="https://lookup-id.com">Lookup-ID.com</a> - This website might be helpful in getting the Facebook numeric ID through username, sometimes helpful in finding profiles masked by other similar named profiles on alphabetical search.</p> 
          
          </p>
      </div>
    </div>
</div>

<div class="container">
  <div class="member">
    <div class="member-content">
      <h2>WEBSITE LOOKUP</h2>
      <p>Hey! Didn’t find what you are here for? 
        Try these:
      </p>
      <p>
        <a href="https://ca.godaddy.com/whois" target="_blank">WHOIS Domain Lookup - Find out who owns a website - GoDaddy CA</a> - is a domain registrar and web hosting company that offers a WHOIS Domain Lookup service. WHOIS is a protocol that allows users to query databases and retrieve information about domain names.
      </p>
      <p>
        <a href="https://www.whois.com/" target="_blank">Whois.com</a> - allows users to search for domain information by entering the domain name, and it retrieves details such as the registrant's name, contact information, registration date, and domain status.
      </p>
      <p>
        <a href="https://archive.org/web/" target="_blank">Internet Archive: Wayback Machine</a> - is a digital archive of web pages and websites, allows users to browse and access archived versions of websites as they have appeared at different points in time.
      </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="member">
    <div class="member-content">
      <h2>IP-ADDRESS LOOKUP</h2>
      <p>Hey! Didn't find what you are here for? 
        Try these:
      </p>
      <p>
        <a href="https://www.ipaddress.com/" target="_blank">IPAddress.com</a> - allows users to look up information about an IP address, such as its location, owner, and associated domain names.
      </p>
      <p>
        <a href="https://myip.ms/" target="_blank">Myip.ms</a> - has tools to discover the IP address and geolocation of a website or server, information about web hosting providers, including their IP ranges, company details, and server statistics.
      </p>
      <p>
        <a href="https://www.ip-tracker.org/" target="_blank">IP Tracker</a> - input an IP address and get its location, including city, country, latitude, and longitude. It may also provide additional details such as the internet service provider (ISP).
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="member">
    <div class="member-content">
      <h2>PHONE NUMBER LOOKUP</h2>
      <p>Hey! Didn't find what you are here for? 
        Try these:
      </p>
      <p>
        <a href="https://www.freecarrierlookup.com/" target="_blank">FreeCarrierLookup.com</a> - provides information about the carrier or service provider associated with a given phone number.
      </p>
      <p>
        <a href="https://free-lookup.net/" target="_blank">Free lookup net</a> - provides information about the carrier or service provider, current time in the timezone, and location associated with a given phone number.
      </p>
      <p>
        <a href="https://www.emobiletracker.com/" target="_blank">EmobileTracker.Com</a> - provides information about the carrier or service provider and timezone associated with a given phone number.
      </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="member">
    <div class="member-content">
      <h2>EMAIL LOOKUP</h2>
      <p>Hey! Didn't find what you are here for? 
        Try these:
      </p>
      <p>
        <a href="https://www.rocketreach.co/" target="_blank">RocketReach</a> - allows individuals and businesses to search for email addresses, providing users with access to an extensive database of professional contact information.
      </p>
      <p>
        <a href="https://simple-email-reputation.com/" target="_blank">Simple Email Reputation</a> - provides users with insights into the reputation of an email address by analyzing various factors such as spam reports, blacklists, and email deliverability data.
      </p>
      <p>
        <a href="https://haveibeenpwned.com/" target="_blank">Have I Been Pwned</a> - enter their email address or username on the website, and it checks if their credentials have been exposed in known data breaches.
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="member">
    <div class="member-content">
      <h2>UNCLASSIFIED LOOKUPS</h2>
      <p>Hey! Didn't find what you are here for? 
        Try these:
        </p>
        <p><a href="https://www.osinttechniques.com/osint-tools.html">OSINT Tools</a> - This website has a lot of search tools for different social media platforms such as Facebook, Twitter, Instagram etc.</p>
        <p><a href="https://onemilliontweetmap.com/">#onemilliontweetmap</a> - Lets you search for tweets according to location based on usernames, keywords etc.</p>
        <p><a href="https://mattw.io/youtube-metadata/">MW Metadata</a> - Gets YouTube video's metadata.</p>
        <p><a href="https://mattw.io/youtube-geofind/location">Location Search - Discover Geo-tagged Videos - MW Geofind</a> - Shows the names of some of the channels in a particular region on map.</p>
        <p><a href="http://itools.com/search/people-search">People Search - Best tools to find someone</a> - This site has different types of OSINT tools.</p>
        <p><a href="https://boardreader.com/">Boardreader</a> - It displays results from the web for a given search keyword.</p>
        <p><a href="https://intelx.io/tools?tab=facebook">Tools - Intelligence X</a> - To search Facebook Posts using certain criteria. (I didn’t know how to test this).</p>
        <p><a href="https://www.heavy.ai/demos/tweetmap">HEAVY.AI | Tweetmap</a> - Gives location information on the twitter hashtags and tweets on the map.</p>
        </p>
    </div>
  </div>
</div>





  <div class="flag-container"></div>
  <h2>NOTE:</h2>
  <p>*OSINT provides a way to collect and analyze publicly available data, which can then be used to make informed
    decisions or satisfy your curiosity. Below we look at 10 of the leading open-source OSINT sites, services, and code
    - including search engines and data visualization tools - that are available to us all OSINT, short for open-source
    intelligence, is a process designed to gather information from public sources. For example, these sources may be
    government databases, websites, or brochures. To achieve this, investigators use several manual as well as automatic
    tools.OSINT, short for open-source intelligence, is a process designed to gather information from public sources.
    These sources may be government databases, websites, or brochures.*</p>
  </div>
    <div class="footer">
      With love, from Hacker4Help!
    </div>
  </body>
  </html>