<!DOCTYPE html>
<html>

<head>
    <title>OSINT Tool - Phone Number Lookup</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>

<body>

    <div class="navbar">
        <ul>
            <li><a href="/about-us">About Us </a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>

    <div class="flag-container">
        <img src="/images/india-flag.png" alt="Center Image" />
    </div>

    <div class="container">
        <h1>PHONE NUMBER LOOKUP</h1>
        <div class="input-group">
            <label for="target">Target:</label>
            <input type="text" id="target" placeholder="Enter target information">
        </div>

        <div class="input-group">
            <button onclick="search()">Search</button>
        </div>

        <div id="results">
            <h2>Results:</h2>
            <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
            <pre id="output"></pre>
        </div>
    </div>
    <div class="flag-container"></div>
        <h2>NOTE:</h2>
        <p>*OSINT provides a way to collect and analyze publicly available data, which can then be used to make informed
    decisions or satisfy your curiosity. Below we look at 10 of the leading open-source OSINT sites, services, and code
    - including search engines and data visualization tools - that are available to us all OSINT, short for open-source
    intelligence, is a process designed to gather information from public sources. For example, these sources may be
    government databases, websites, or brochures. To achieve this, investigators use several manual as well as automatic
    tools.OSINT, short for open-source intelligence, is a process designed to gather information from public sources.
    These sources may be government databases, websites, or brochures.*</p>
    </div>
    <div class="footer">
        With love, from Hacker4Help!
    </div>
    <script src="js/script.js"></script>
</body>

</html>