<!DOCTYPE html>
<html>

<head>
    <title>OSINT Tool - Phone Number Lookup</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>

<body>

    <div class="navbar">
        <a href="/"><img src="/images/New-Logo.png" alt="logo" /> </a>
        <div class="home"><ul> <li><a  href="/">   Home </a></li></ul></div>
        <ul>
            <li><a href="/about-us">About Us </a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </div>

    <div class="flag-container">
        <img src="/images/india-flag.png" alt="Center Image" />
    </div>

    <div class="container">
        <h1>PHONE NUMBER LOOKUP</h1>
        <div class="input-group">
            <label for="target">Target:</label>
            <input type="text" id="target" placeholder="Enter target information">
        </div>
        <div class="input-group">
                <label for="tool">Which lookup tool do you want to use</label>
                <select name="tool" id="tool">
                  <option value="select">Select Tool</option>
                  <option value="gpay">GPay</option>
                  <option value="freecarrier">FreeCarrierLookup</option>
                  <option value="jio">Jio Recharge</option>
                  <option value="airtel">Airtel Recharge</option>
                  <option value="vi">Vi Recharge</option>
                  <option value="freecharge">Freecharge</option>
                </select>
            </div>
        <div class="input-group">
            <button onclick="search()">Search</button>
        </div>
        <div class="hint-text">
            <p id="hint"><strong>Hint :</strong> Select the tool you want to use</p>
        </div>
        <div id="results">
            <h2>Results:</h2>
            <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
            <pre id="output"></pre>
        </div>
    </div>
    <div class="footer">
        OSINT framework focused on gathering information from free tools or resources. The intention is to help people find free OSINT resources. Some of the sites included might require registration or offer more data for $$$, but you should be able to get at least a portion of the available information for no cost.
    We created this framework with an information security point of view. Since then, the response from other fields and disciplines has been incredible. I would love to be able to include any other OSINT resources, especially from fields outside of infosec. Please let me know about anything that might be missing!
    
    For Update Notifications, Suggestions, Comments, Feedback
    
    Feedback or new tool suggestions are extremely welcome! Please feel free to reach out on info@hacker4help.com
      </div>
      <div class = "footera">
        With ❤️, from Hacker4Help!
      </div>
    <script src="js/script.js"></script>
    <script>
        // Function to update the hint text based on the selected tool
        document.getElementById("tool").addEventListener("change", function () {
          var hint = document.getElementById("hint");
          var selectedTool = this.value;
  
          if (selectedTool === "select") {
            hint.innerHTML =
              "<strong>Hint :</strong> Select the tool you want to use";
          } else if (selectedTool === "gpay") {
            window.location.href = "https://pay.google.com/intl/en_in/about/"
          } else if (selectedTool === "freecarrier") {
            window.location.href = "https://freecarrierlookup.com/"
          }else if (selectedTool === "jio") {
            window.location.href = "https://www.jio.com/selfcare/recharge/mobility/"
          } else if (selectedTool === "airtel") {
            window.location.href = "https://www.airtel.in/"
          } else if (selectedTool === "vi") {
            window.location.href = "https://www.myvi.in/prepaid/online-mobile-recharge"
          } else if (selectedTool === "freecharge") {
            window.location.href = "https://www.freecharge.in/mobile-recharge"
          } else {
            hint.innerHTML = ""; // Clear the hint if no tool is selected
          }
        });
      </script>
</body>

</html>