<!DOCTYPE html>
<html>
<head>
  <title>OSINT Tool - Username Lookup</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>
<body>

  <div class="navbar">
    <a href="/"><img src="/images/New-Logo.png" alt="logo" /> </a>
    <div class="home"><ul> <li><a  href="/">   Home </a></li></ul></div>
    <ul>
        <li><a href="/about-us">About Us </a></li>
        <li><a href="/info">Info</a></li>
    </ul>
</div>

  <div class="flag-container">
    <img src="/images/india-flag.png" alt="Center Image" />
  </div>

  <div class="container"> 
    <h1>USERNAME LOOKUP</h1>
    <form action="/username" method="GET">
      <div class="input-group">
        <label for="target">Target:</label>
        <input name="target" type="text" id="target" placeholder="Search using sherlock">
      </div>
      <div class="input-group">
        <label for="tool">Which lookup tool do you want to use</label>
        <select name="tool" id="tool">
          <option value="select">Select Tool</option>
          <option value="sherlock">Sherlock</option>
          <option value="webmil">Webmil</option>
          <option value="tweeter">TweeterID</option>
          <option value="lookupid">Lookup-ID</option>
        </select>
      </div>
      <div class="input-group">
        <button type="submit" onclick="search()">Search</button>
      </div>
    </form>
    <div class="hint-text">
            <p id="hint"><strong>Hint :</strong> Select the tool you want to use</p>
        </div>
    <div id="results">
      <h2>Results:</h2>
      <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
      <pre id="output">
        <% if (result) { %>
          <%= result['output'] %>
        <% } %>
      </pre>
    </div>
  </div>
  <div class="footer">
    OSINT framework focused on gathering information from free tools or resources. The intention is to help people find free OSINT resources. Some of the sites included might require registration or offer more data for $$$, but you should be able to get at least a portion of the available information for no cost.
We created this framework with an information security point of view. Since then, the response from other fields and disciplines has been incredible. I would love to be able to include any other OSINT resources, especially from fields outside of infosec. Please let me know about anything that might be missing!

For Update Notifications, Suggestions, Comments, Feedback

Feedback or new tool suggestions are extremely welcome! Please feel free to reach out on info@hacker4help.com
  </div>
  <div class = "footera">
    With ❤️, from Hacker4Help!
  </div>
  <script src="js/script.js"></script>
  <script>
        // Function to update the hint text based on the selected tool
        document.getElementById("tool").addEventListener("change", function () {
          var hint = document.getElementById("hint");
          var selectedTool = this.value;
  
      if (selectedTool === "select") {
        hint.innerHTML =
          "<strong>Hint :</strong> Select the tool you want to use.";
      } else if (selectedTool === "sherlock") {
        hint.innerHTML =
          "<strong>Hint :</strong> You can get info about a username available on different websites through this tool. Please make sure you wait for all the results. There might also possibly be some false positives in the results. So, make sure you check all the results produced because some of the results might be genuine and useful.";
      } else if (selectedTool ==="webmil") {
        window.location.href = "https://webmii.com/"
      } else if (selectedTool ==="tweeter") {
        window.location.href = "https://tweeterid.com/"
      } else if (selectedTool ==="lookupid") {
        window.location.href = "https://lookup-id.com/"
      } else {
        hint.innerHTML = ""; // Clear the hint if no tool is selected
      }
        });
      </script>
</body>
</html>