<!DOCTYPE html>
<html>

<head>
    <title>OSINT Tool - Website Lookup</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
</head>

<body>

    <div class="navbar">
        <a href="/"><img src="/images/New-Logo.png" alt="logo" /> </a>
        <div class="home"><ul> <li><a  href="/">   Home </a></li></ul></div>
        <ul>
            <li><a href="/about-us">About Us </a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </div>

    <div class="flag-container">
        <img src="/images/india-flag.png" alt="Center Image" />
    </div>

    <div class="container">
        <h1>Website LOOKUP</h1>
        <form action="/website" method="get">
            <div class="input-group">
                <label for="target">Target:</label>
                <input name="target" type="text" id="target" placeholder="Enter target for WHOIs lookup">
            </div>
            <div class="input-group">
                <label for="tool">Which lookup tool do you want to use</label>
                <select name="tool" id="tool">
                  <option value="select">Select Tool</option>
                  <option value="whois">WhoIs</option>
                  <option value="nslookup">Nslookup</option>
                  <option value="dig">Dig</option>
                  <option value="host">Host</option>
                  <option value="godaddy">GoDaddy WhoIs</option>
                  <option value="domaintools">WhoIs DomainTools</option>
                  <option value="whoxy">Whoxy</option>
                </select>
            </div>
            <div class="input-group" id="search-btn">
                <button type="submit" onclick="search()">Search</button>
            </div>
        </form>
        <div class="input-group" id="redirect" style="display: none;">
          <button type="button"><a href="#" style="text-decoration:none; color:black;">Redirect to Tool</a></button>
        </div>
        <div class="hint-text">
            <p id="hint"><strong>Hint :</strong> Select the tool you want to use</p>
        </div>
        <div id="results">
            <h2>Results:</h2>
            <img id="loading-image" src="/loading.gif" alt="Loading..." style="display: none;">
            <pre id="output">
                <% if (result) { %>
                    <%= result['output'] %>
                <% } %>
            </pre>
        </div>
    </div>
    <div class="footer">
        OSINT framework focused on gathering information from free tools or resources. The intention is to help people find free OSINT resources. Some of the sites included might require registration or offer more data for $$$, but you should be able to get at least a portion of the available information for no cost.
    We created this framework with an information security point of view. Since then, the response from other fields and disciplines has been incredible. I would love to be able to include any other OSINT resources, especially from fields outside of infosec. Please let me know about anything that might be missing!
    
    For Update Notifications, Suggestions, Comments, Feedback
    
    Feedback or new tool suggestions are extremely welcome! Please feel free to reach out on info@hacker4help.com
      </div>
      <div class = "footera">
        With ❤️, from Hacker4Help!
      </div>
    <script src="js/script.js"></script>
    <script>
    // Function to update the hint text based on the selected tool
    document.getElementById("tool").addEventListener("change", function () {
      var hint = document.getElementById("hint");
      var selectedTool = this.value;
      var search_bttn = document.getElementById("search-btn")
      var search_a = document.getElementById("redirect")

      if (selectedTool === "select") {
        hint.innerHTML =
          "<strong>Hint :</strong> Select the tool you want to use.";
        search_a.style.display = "none"
        search_bttn.style.display = "block"
      } else if (selectedTool === "whois") {
        hint.innerHTML =
          "<strong>Hint :</strong> Whois record will contain information such as the name and contact information of the Registrant (who owns the domain), the name and contact information of the registrar Registrar (the organization or commercial entity that registered the domain name), the registration dates, the name servers, the most recent update, and the expiration date.";
        search_a.style.display = "none"
        search_bttn.style.display = "block"
      } else if (selectedTool === "nslookup") {
        hint.innerHTML =
          "<strong>Hint :</strong> Nslookup is a command-line tool used to query the Domain Name System (DNS) to obtain information about DNS records, such as IP addresses associated with domain names, mail exchange servers, and name server information, making it useful for troubleshooting DNS-related issues and verifying DNS configurations.";
        search_a.style.display = "none"
        search_bttn.style.display = "block"
      } else if (selectedTool === "dig") {
        hint.innerHTML =
          "<strong>Hint :</strong> Dig, short for Domain Information Groper, is a command-line tool used for querying DNS servers to retrieve information about specific domain names, such as IP addresses, name server records, and DNSSEC information, making it valuable for network troubleshooting and DNS analysis.";
        search_a.style.display = "none"
        search_bttn.style.display = "block"
      }else if (selectedTool === "host") {
        hint.innerHTML =
          "<strong>Hint :</strong> Host is a command-line tool that performs DNS lookups and provides information about domain names, including IP addresses, name server records, and various DNS resource records, helping to diagnose network issues and verify DNS configurations.";
        search_a.style.display = "none"
        search_bttn.style.display = "block"
      } else if (selectedTool === "godaddy") {
        hint.innerHTML = 
          "<strong>Hint :</strong> Whois record will contain information such as the name and contact information of the Registrant (who owns the domain), the name and contact information of the registrar Registrar (the organization or commercial entity that registered the domain name), the registration dates, the name servers, the most recent update, and the expiration date. Whois records may also provide the administrative and technical contact information (which is often, but not always, the registrant)."
        search_a.style.display = "block"
        search_a.firstElementChild.firstElementChild.href = "https://ca.godaddy.com/whois"
        search_bttn.style.display = "none"
      } else if (selectedTool === "domaintools") {
        hint.innerHTML = 
          "<strong>Hint :</strong> Whois record will contain information such as the name and contact information of the Registrant (who owns the domain), the name and contact information of the registrar Registrar (the organization or commercial entity that registered the domain name), the registration dates, the name servers, the most recent update, and the expiration date. Whois records may also provide the administrative and technical contact information (which is often, but not always, the registrant)."
        search_a.style.display = "block"
        search_a.firstElementChild.firstElementChild.href = "https://whois.domaintools.com/"
        search_bttn.style.display = "none"
      } else if (selectedTool === "whoxy") {
        hint.innerHTML = 
          "<strong>Hint :</strong> Whois record will contain information such as the name and contact information of the Registrant (who owns the domain), the name and contact information of the registrar Registrar (the organization or commercial entity that registered the domain name), the registration dates, the name servers, the most recent update, and the expiration date. Whois records may also provide the administrative and technical contact information (which is often, but not always, the registrant). In addition to a WHOIS lookup, it provides other services like reverse WHOIS lookup, domain age checker, and bulk WHOIS lookup."
        search_a.style.display = "block"
        search_a.firstElementChild.firstElementChild.href = "https://www.whoxy.com/"
        search_bttn.style.display = "none"
      } else {
        hint.innerHTML = ""; // Clear the hint if no tool is selected
      }
    });
  </script>
</body>

</html>